In [1]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession\
        .builder\
        .appName("HW2")\
        .getOrCreate()

spark

In [2]:
sc = spark.sparkContext
sc

In [3]:
#Map Flatmap Union Select

# Part 1

In [4]:
import pyspark.sql.functions as func
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import desc,col
import pyspark.sql.functions as F



breadBasket = spark.read \
    .format("csv") \
    .option("header", "true") \
    .option("inferSchema","true") \
    .load("BreadBasket_DMS.csv")

#breadBasket.groupBy("Item").sum("Transaction").toDF("Item", "Total").show(5)

df = breadBasket.select('date', F.hour('Time').alias('hour'),'transaction','item')
df = df.filter(df.item != 'NONE')
#df.printSchema()

In [5]:
import pyspark.sql.functions as func
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType
from pyspark.sql.functions import desc
import pyspark.sql.functions as F

#breadBasket = breadBasket.filter(df.select(col("Item")) != 'NONE')
df = df.withColumn("Date", func.to_date(func.col("Date")))
#get_hour = udf(lambda x:x[0:2],StringType())
#df = df.withColumn('Time',get_hour('Time'))
df.groupBy("Item","Date","hour").count()
#sum("Transaction").sort("Date").toDF("Item","Date", "Hour","Total").show()

DataFrame[Item: string, Date: date, hour: int, count: bigint]

In [6]:
from pyspark.sql.types import StringType
from pyspark.sql.functions import udf



df = breadBasket.withColumn("Date", func.to_date(func.col("Date")))
#print(df)

get_hour = udf(lambda x:x[0:2],StringType())
df = df.withColumn('Time',get_hour('Time'))
#df = df.orderBy("Item","Date","Hour")
df = df.orderBy("Item","Date","Time")
df = df.groupBy("Item","Date","Time").count()
df.show()
#.count("Transaction").sort(desc("sum(Transaction)")).toDF("Item","Date", "Time","Total").show()

+--------------------+----------+----+-----+
|                Item|      Date|Time|count|
+--------------------+----------+----+-----+
|          Adjustment|2016-11-09|  19|    1|
|Afternoon with th...|2017-01-06|  14|    1|
|Afternoon with th...|2017-01-07|  13|    1|
|Afternoon with th...|2017-01-08|  15|    1|
|Afternoon with th...|2017-01-11|  14|    2|
|Afternoon with th...|2017-01-14|  18|    3|
|Afternoon with th...|2017-01-16|  09|    1|
|Afternoon with th...|2017-01-20|  08|    1|
|Afternoon with th...|2017-01-21|  11|    1|
|Afternoon with th...|2017-01-21|  12|    1|
|Afternoon with th...|2017-01-21|  14|    1|
|Afternoon with th...|2017-01-22|  09|    1|
|Afternoon with th...|2017-01-22|  12|    1|
|Afternoon with th...|2017-02-03|  14|    1|
|Afternoon with th...|2017-02-10|  13|    1|
|Afternoon with th...|2017-02-11|  17|    1|
|Afternoon with th...|2017-02-12|  18|    2|
|Afternoon with th...|2017-02-14|  08|    1|
|Afternoon with th...|2017-02-14|  15|    1|
|Afternoon with th...|2017-02-16|  14|    1|
+--------------------+----------+----+-----+
only showing top 20 rows

In [7]:
# from pyspark.sql.functions import *

In [8]:
# breadBasket.groupBy("Time").sum("Transaction").toDF("Time", "Total").show(5)

# Part 2

In [9]:
restaurants = spark.read.json("Restaurants_in_Durham_County_NC.json")

In [10]:
restaurants = spark.read.json("Restaurants_in_Durham_County_NC.json")
fields = restaurants.select("recordid","fields.id","fields.geolocation","fields.opening_date")
rpt_area_desc = restaurants.select("fields.rpt_area_desc")
restaurants.groupby("fields.rpt_area_desc").count().sort(desc("count")).toDF("RPT_AREA_DESC", "Count").show()

+--------------------+-----+
|       RPT_AREA_DESC|Count|
+--------------------+-----+
|        Food Service| 1093|
|      Swimming Pools|  420|
|         Summer Food|  242|
|            Day Care|  173|
|    Residential Care|  154|
|         Mobile Food|  147|
|    School Buildings|   89|
|             Lodging|   62|
|Tattoo Establishm...|   36|
|        Institutions|   30|
|      Adult Day Care|    5|
|        Summer Camps|    4|
|  Bed&Breakfast Home|    4|
|   Local Confinement|    2|
|   Bed&Breakfast Inn|    2|
+--------------------+-----+

# HW Part 3

In [11]:
populationByCountry = spark.read \
    .format("csv") \
    .option("header", "true") \
    .option("inferSchema","true") \
    .load("populationbycountry19802010millions.csv")
from pyspark.sql.window import Window

In [14]:
from pyspark.sql.window import Window
from pyspark.sql.functions import col,lit
#df = df.withColumn('pct',(df['1982'] - df['1981'] / df['1981']))
#df.select('pct').collect()

#pct = []
def get_max_pct(yr,df,first,second):
    df = df.withColumn('pct',((df[second] - df[first]) / df[first])*100)
    #val = df.select('pct').orderBy('pct').limit(1)
    df = df.withColumn('year', lit(yr+1))
    val = df.select('year','_c0','pct').orderBy(desc('pct')).limit(1)
    #print(val.show())
    #new = old.union(val)
    return val

#     val = df.agg({"pct": "max"}).limit(1).collect()[0][0]*100
#     key = df.select('_c0').orderBy(F.desc('pct')).take(1)[0][0]
#     year = second
#     pct.append([year,key,val])

old = get_max_pct(1980,populationByCountry, '1980', '1981')

#[get_max_pct(populationByCountry,populationByCountry.schema.names[x],populationByCountry.schema.names[x-1]) for x in range(1,30)]
length = len(populationByCountry.schema.names)

for i in range(3,length):
    new = get_max_pct(i+1978,populationByCountry,populationByCountry.schema.names[i-1],populationByCountry.schema.names[i])
    old = old.union(new)

old.show(31)

#spark.udf.register("Iterator", Iterator, IntegerType())
# [get_max_pct(populationByCountry,populationByCountry.schema.names[x-1],populationByCountry.schema.names[x]) for x in range(2,length-1)]
# pct


#monotonically_increasing_id()

+----+--------------------+------------------+
|year|                 _c0|               pct|
+----+--------------------+------------------+
|1981|      Western Sahara|12.133182844243787|
|1982|      Western Sahara|11.115105327485802|
|1983|       French Guiana|14.285714285714276|
|1984|               Qatar|10.964057316781224|
|1985|       French Guiana|12.499999999999993|
|1986|               Qatar| 8.771732719152874|
|1987|       French Guiana|11.111111111111121|
|1988|      Cayman Islands|11.010421386497516|
|1989|United Arab Emirates| 6.119858265290403|
|1990|            Djibouti| 12.82404791501865|
|1991|              Jordan|11.273939557210028|
|1992|              Kuwait| 48.63343882962002|
|1993|         Afghanistan|13.224594754698687|
|1994|         Afghanistan| 8.727661664211226|
|1995|             Burundi| 7.222488903730303|
|1996|              Rwanda| 19.61417728550077|
|1997|Falkland Islands ...|21.499999999999993|
|1998|             Liberia| 12.01744976042338|
|1999|Falkland Islands ...| 7.692307692307695|
|2000|          Montserrat|16.863905325443792|
|2001|          Montserrat| 7.341772151898719|
|2002|          Montserrat|  13.4433962264151|
|2003|         Afghanistan| 5.803891762260126|
|2004|          Montserrat|10.467706013363028|
|2005|             Liberia|4.7976709085316545|
|2006|              Jordan| 7.088496587486171|
|2007|              Jordan| 6.764378108744186|
|2008|          Montserrat|12.638580931263862|
|2009|             Liberia| 4.157111008408977|
|2010|               Niger| 3.737166190281749|
+----+--------------------+------------------+

# Part 4

In [40]:
import re
wordlist = sc.textFile("romeo-juliet-pg1777.txt").map(lambda x: re.sub('[^0-9a-zA-z]', ' ', x.lower())) \
.flatMap(lambda word: word.split()) #split by word to get each word

In [41]:
# Map and Reduce
# Map should return word and 1
import string
import numpy as np
#from pyspark.sql.functions import lower, col
w = wordlist.map(lambda key: (key,1))

# Take in the key and value

ignored_chars = string.punctuation + "" + " "
#keyval = w.reduceByKey(lambda key,value: key + value).sortByKey().collect()
#keyval
w.toDF().groupBy('_1').count().orderBy(desc('count')).show()

+----+-----+
|  _1|count|
+----+-----+
| and|  775|
| the|  749|
|   i|  658|
|  to|  614|
|   a|  483|
|  of|  474|
|  is|  389|
|that|  373|
|  my|  360|
|  in|  329|
| you|  327|
|   s|  293|
|thou|  278|
| not|  275|
| for|  268|
|  me|  265|
|with|  265|
|this|  258|
|  it|  237|
|   d|  236|
+----+-----+
only showing top 20 rows

# Part 5

In [35]:
restaurants = spark.read.json("Restaurants_in_Durham_County_NC.json")
foreclosures = spark.read.json("durham-nc-foreclosure-2006-2016.json")

filter_by_status = restaurants.filter(restaurants.fields.status == 'ACTIVE')
filter_by_rpt = filter_by_status.filter(restaurants.fields.rpt_area_desc == 'Food Service')
#new_df = r.join(foreclosures, r.datasetid == foreclosures.datasetid)

#print(new_df.show())





from pyspark.sql.functions import acos, cos, sin, lit, toRadians, col, sqrt
from pyspark.sql.types import DoubleType, BooleanType



#split into df of individual coordinates
coordinates_df = filter_by_rpt.select('fields.geolocation','recordid')

rest_df = coordinates_df \
  .select("recordid", \
    coordinates_df["geolocation"].getItem(0).alias("latitude"),  \
    coordinates_df["geolocation"].getItem(1).alias("longitude"))

 
f = foreclosures.select('recordid','fields.geocode')
fore_df = f \
  .select("recordid", \
    f["geocode"].getItem(0).alias("latitude"),  \
    f["geocode"].getItem(1).alias("longitude"))


combined_df = rest_df.crossJoin(fore_df)
combined_renamed = combined_df.toDF("Rest_ID","Lat1","Lon1", "Fore_ID", "Lat2", "Lon2")
#combined_renamed.show(5)



r=.017
def distance(x1,y1,x2,y2):
    return(sqrt((x2-x1)**2 + (y2-y1)**2) <= lit(r))


spark.udf.register("distance",distance, BooleanType())

combined_total = combined_renamed.withColumn("within",distance(col('Lat1'),col('Lon1'),col('Lat2'),col('Lon2')))

combined_total.filter(col("within") == True).groupBy("Rest_ID").count().orderBy(desc("count")).show()

+--------------------+-----+
|             Rest_ID|count|
+--------------------+-----+
|4ae53f7aed8a55220...|  547|
|93ce8c5098b454fef...|  545|
|e15093d662b89459b...|  513|
|0c138ce991b8ee8be...|  499|
|c996205786ed4cb82...|  488|
|3e2155af2f0ed74cd...|  487|
|9bff51da56d9904c8...|  483|
|50d866337e4510537...|  480|
|250bd3f753b3abfd6...|  468|
|e4142ed8ec842a847...|  460|
|7e757d66cd22978d0...|  460|
|5034c0dd0c2a7be3e...|  457|
|a7aa893ae3fc40a08...|  451|
|185cf22176ebe5e92...|  451|
|ff8cb9a95dd2d29aa...|  443|
|0eff675476498d4c6...|  438|
|35bba7b9776496410...|  438|
|4dbb2d119e345e3bb...|  438|
|cc33a7debc22fd6d3...|  436|
|24e6092e5dec92b65...|  431|
+--------------------+-----+
only showing top 20 rows